@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Serif+KR:wght@500&display=swap");
#root {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: "Nanum Gothic", sans-serif;
  font-family: "Noto Serif KR", serif;
}
body {
  min-width: fit-content;
  margin: 0;
}
